.container-fluid {
    min-height: 100vh;
    height: auto;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
}

.container-fluid > .up-container {
    padding-top: 20vh;
}

.home_body {
    background-color: #D4E7E8;
    background-image: url("/home_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 120px;
    background-size: 100% auto;
}

.meditation_body {
    background-color: #AACFD1;
    background-image: url("/mediation_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 97px;
    background-size: 100% auto;
}

body {
    background-color: #D4E7E8;
}

/* ============================ text style start ============================ */

.font {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    color: #484848;
    margin: 0px;
}

h1 {
    font-size: 40px;
    line-height: 54px;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

h3 {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.02em;
}

.content {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.big-btn-string {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.05em;
}

.small-btn-string {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
}

ul.content-hieght {
    padding-left: 24px;
}

ol.content-hieght {
    padding-left: 24px;
}

.content-hieght {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
}

.remark-string {
    font-size: 13px;
    line-height: 18px;
}

/* ============================ text style end ============================ */

/* ============================ homepage start ============================ */

.home-div {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 150px 0;
    gap: 16px;
}

.logo-title {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 28vw;
    gap: 10px;
    width: 100vw;

    /* White */
    background: #FFFFFF;
}

.home-prompt {
    width: 88vw;
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 10px;

    background: #FEF8EA;
    border: 3px dashed #F6BD2B;
    border-radius: 10px;
}

.visualization-div {
    overflow-x: scroll;
    white-space: nowrap;
}

.visualization-card {
    width: 88vw;
    height: 47vh;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    margin-top: 16px;
}

.navbar-div {
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 138px;
}

.start_btn {
    position: absolute;
    background-color: #2A868C;
    width: 32vw;
    height: 32vw;
    border: 0px;
    border-radius: 50%;
    color: white;
    /* position */
    margin-top: -1%;
    margin-left: calc(50% - 120px/2 + 0.5px);
}

.navbar-div-bottom {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 20px;

    position: absolute;
    bottom: 0%;
    width: 100vw;
    background: #AACFD1;
}

.footer {
    width: 88vw; 
    font-weight: 700;
    font-size: 8px;
    color: #A4A1A1;
    text-align: center;
}

.viz-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Viz - 1 */
.timeemo-viz-div {
    width: 80vw;
    height: 100%;
}

#viz-1-chart {
    height: 100%;
}

/* Viz - 2 */
.viz-2-div {
    overflow: auto;
}

.activities-viz-div {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.activities-viz-line {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.activities-viz-num {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F6BD2B;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: white;
}

.activities-viz-text {
    color: #A4A1A1;
    width: 65vw;
}

.visualization-card > .my-badge-div {
    width: 80vw;
}

/* Viz - 3 */
.viz-3-div {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}

.viz-3-div > canvas {
    height: 50%;
}

.not-done-activities {
    width: 100%;
    height: fit-content;
    background: #FEF8EA;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 5px;
}

/* Viz - 4 */

.emofeel-viz-div {
    width: 80vw;
    height: 65vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 0 0;
}

.emofeel-right {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.emofeel-right-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
}

.emofeel-right-top > p {
    color: #A4A1A1;
}

.emofeel-select {
    width: 40vw;
    height: 28px;

    background-color: #F6F6F6;
    color: #A4A1A1;
    border: 1px solid #A4A1A1;
    border-radius: 5px;
}

.no-record-text {
    width: 100%;
    height: 65vw;
    color: #A4A1A1;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

.emo-feel-lines {
    overflow: auto;
}

/* ============================ homepage end ============================ */

/* ============================ FoMO dictionary start ============================ */

.fomo-dic-div {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 32px 24px;
    gap: 18px;
}

.page-title {
    width: 88vw;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.info-dic {
    width: 88vw;
    box-sizing: border-box;
    padding: 18px 16px;
    border: 2px solid #2A868C;
    background-color: white;
    border-radius: 10px;
}

.info-dic-title {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-dic-title > p {
    color: #2A868C;
}

.info-dic-content {
    text-align: justify;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    gap: 10px;
}

.countermeasure-alert {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 16px;

    background-color: #D4E7E8;
    border-radius: 10px;
}

.countermeasure-alert > .remark-string {
    color: #2A868C;
}

/* ============================ FoMO dictionary end ============================ */

/* ============================ my history start ============================ */

.my-history-div {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 32px 24px;
    gap: 18px;
}

.history-record {
    width: 88vw;
    background: #FFFFFF;
    border-radius: 10px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.history-record-content {
    width: 158px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.history-record-content-data {
    width: 100%;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.history-record-content-data > div {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

.history-record-content-data > div > p {
    color: #65A7AC;
}

/* ============================ my history end ============================ */

/* ============================ form record start ============================ */

.form-record {
    width: 88vw;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    padding: 24px 18px;
    gap: 18px;
}

.form-record-ans {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
}

.form-record-ans.detail-cards {
    flex-direction: row;
    justify-content: space-between;
}

.detail-card {
    width: 40vw;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 10px 8px;
    gap: 8px;

    background-size: cover;
    background-repeat: no-repeat;
}

.form-record-ans > p {
    color: #A4A1A1;
}

.form-record-ans > ul {
    color: #A4A1A1;
    padding-left: 20px;
}

.form-record-ans > * > span {
    font-weight: 700;
    color: #F6BD2B;
}

.my-badge-div {
    display: flex;
    width: inherit;
    height: fit-content;
    flex-wrap: wrap;
}

.my-badge {
    box-sizing: border-box;
    width: fit-content;

    /* Auto layout */
    display: inline-block;
    flex-direction: row;
    padding: 8px 12px;
    margin: 0 8px 8px 0;

    background: #FEF8EA;
    border: 1.5px solid #F6BD2B;
    border-radius: 50px;
    color: #F6BD2B;
    font-size: 13px;
    line-height: 18px;
}

/* ============================ form record end ============================ */

/* ============================ meditation start ============================ */

.meditation-bottom-card {
    background-color: white;
    width: 100%;
    margin-top: 15%;
    overflow: hidden;
    height: 31.5%; 
    padding: 0px; 
    padding-top: 50px; 
    position: absolute; 
    bottom: 0px;
}

/* count down clock */
@keyframes rotate-mask-rt {
	0% {    transform: rotate(0deg); }
	25% {   transform: rotate(180deg); }
	50% {   transform: rotate(180deg); }
	75% {   transform: rotate(360deg); }
	100% {  transform: rotate(360deg); }
}
@keyframes rotate-mask-lt {
	0% {    transform: rotate(0deg); }
	25% {   transform: rotate(0deg); }
	50% {   transform: rotate(180deg); }
	75% {   transform: rotate(180deg); }
	100% {  transform: rotate(360deg); }
}

.count-down {
    width: 270px;
    height: 270px;
    background: #7f94d0;
    margin: 0px;
    border: 2px solid #484848;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.count-down:after {
    position: absolute;
    content: "";
    top: 4%;
    left: 4%;
    width: 91%;
    height: 91%;
    border-radius: 50%;
    background: #494c50;
}
.count-down span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.count-down .spanA {
    left: 0;
}
.count-down .spanA em {
    left: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    animation-name: rotate-mask-lt;
    transform-origin: 0 50%;
}
.spanB {
    left: 50%;
}
.count-down .spanB em {
    left: -100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    animation-name: rotate-mask-rt;
    transform-origin: 100% 50%;
}
.count-down span em {
    background: #3e4044;
    animation-duration: 40s;
    border-radius: 999999999px;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.number {
    position: fixed;
    z-index: 999;
    width: 270px;
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 50px;
}
.text {
    position: fixed;
    z-index: 999;
    width: 270px;
    text-align: center;
    margin-top: 30%;
    color: white;
    font-size: 30px;
}
/* end of count down clock */

/* ============================ meditation end ============================ */

/* ============================ form start ================================ */

.form-top {
    background-color: #2A868C;
    color: white;
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 24px 32px;
    gap: 32px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-qnumber {
    color: #AACFD1;
    margin-bottom: 16px;
}

.form-qtitle {
    color: white;
}

.form-progress-line-frame {
    width: 88vw;
    height: 0px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.form-progress-line-progress {
    height: 0px;
    border: 3px solid #AACFD1;
    margin: 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-progress-line-leave {
    width: 0;
    height: 0px;
    border: 3px solid #146368;
    margin: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

.form-q-d {
    width: 88vw; 

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

form {
    height: 100%;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 24px 0px 24px;

    background: #D4E7E8;
}

.form-content {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.q1-div {
    /* Auto layout */
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
    padding: 85px 16px;
}

.q-div {
    width:100%;

    /* Auto layout */
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    padding: 0px 0px 32px 0px; 
    gap: 16px;
}

.ans-text {
    border: none; /* 取消邊框 */
    border-bottom: 2px solid #484848; 
    background-color: #D4E7E8; 
    padding: 3px;
    width: 80px;
    text-align: center;
}

.form-footer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 17px 0px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.select-option {
    box-sizing: border-box;
    padding: 18px 16px;
    border: 2px solid #2A868C;
    border-radius: 10px;
    margin: 0px;
}

.select-option > input {
    display: none;
}

.select-option > label > p {
    color: #2A868C;
    margin: 0px;
}

.select-option > label > p > .other-text {
    width: 100%;
    border: none; /* 取消邊框 */
    border-bottom: 2px solid #2A868C; 
    color: #2A868C;
    background-color: #D4E7E8; 
    padding: 3px;
    text-align: left;
}

.select-option-extend {
    background-color: #2A868C;
}

.select-option-extend > label > p {
    color: white;
}

.select-option-extend > label > p > .other-text {
    border-bottom: 2px solid white; 
    color: white;
    background-color: #2A868C; 
}

.sub-select-option {
    box-sizing: border-box;
    padding: 18px 16px;
    border: 2px solid #2A868C;
    border-radius: 10px;
}

.sub-select-option-extend {
    background-color: #2A868C;
}

.sub-select-option-extend > .sub-select-option-title > p {
    color: white;
}

.sub-select-option-title {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub-select-option-title > p {
    color: #2A868C;
}

.sub-select-option-content {
    margin-right: 18px;
    padding-top: 10px;
}

.sub-select-option-content > input {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 2px;
}

.sub-select-option-content > label > h3 {
    color: white;
    margin: 0px;
}

/* Question 4 */

.form-emoji-scale {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 40%;
}

.form-emoji-scale > .emoji-scale {
    width: 100%;
}

/* change slidebar color */
.custom-range::-webkit-slider-thumb {
    background-color: #2A868C;
}
.custom-range::-webkit-slider-runnable-track {
    background-color: #2A868C;
}

.rangeValue {
    position: absolute;
    top: 345px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: #484848;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.form-emoji-scale > .emoji-text {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

/* Question 5 */

.q5-text {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3px;  
}

.q5-text > .ans-text {
    color: #A4A1A1;
    border-bottom: 2px solid #A4A1A1;
}

/* Question 6 */
.q-textarea {
    padding-bottom: 12vh;
}

/* Question 8 */
.form-rate-scale {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-top: 10%;
    padding-bottom: 40%;
}

.form-rate-scale > .rate-scale {
    width: 100%;
}
.form-rate-scale > .rate-text {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

/* form complete page */
.form-complete-div {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    left: calc(50% - 100vw/2);
    top: calc(50% - 456px/2);;
}

.form-complete-div > .btn {
    margin-top: 18px;
}

/* ============================ form end =================================== */

/* ============================ countermeasure start ============================ */

.countermeasure-top {
    background: #AACFD1;
    gap: 28px;
}

.countermeasure-top > div > p {
    color: #65A7AC;
}

.countermeasure-top > div > .form-qnumber {
    margin: 16px 0 0 0;
    color: #2A868C;
}

.countermeasure-top > .form-q-d > h2 {
    color: #484848;
}

.countermeasure-content > .q-div {
    padding: 32px 24px;
}

.countermeasure-footer {
    padding: 18px 24px;
}

.countermeasure_link {
    background: white;
}

.countermeasure_link > .btn-second {
    background: white;
}


/* countermeasure record page */
.countermeasure-record-page {
    height: auto;
    min-height: auto;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    left: calc(50% - 375px/2);
    top: calc(50% - 503px/2 + 0.5px);
}

.countermeasure-select-option {
    width: 280px;
    border-radius: 50px;
    display: block;
    align-items: center;
    text-align: center;
}

.countermeasure-record-page > div > div > .q-div {
    padding: 0px;
}

/* ============================ countermeasure end =================================== */

/* ============================ component start ============================ */

.btn {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 27px;

    background: #2A868C;
    border: 1px solid #2A868C;
    border-radius: 50px;
    color: white;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn:hover {
    color: white;
}

.btn-second {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 27px;

    background: #D4E7E8;
    border: 2px solid #2A868C;
    border-radius: 50px;
    color: #2A868C;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info-alert {
    width: 88vw; 
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;

    background: #D4E7E8;
    border-radius: 10px;
}

.info-content {
    width: 100%;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.info-extend {
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 0;
}

.modal-dialog {
    max-width: 80vw;
    max-height: 80vh;
    margin: 0px;
    left: calc(50% - 80vw/2);
    top: 70px;
    border-radius: 10px;
}

.modal-header {
    flex-direction: column;
    gap: 28px;
    background: #AACFD1;
    padding: 32px 24px 24px 24px;
}

.modal-body {
    padding: 24px 32px 24px 24px;
}

/* ============================ component end ============================ */



.btn_click {
    background-color: #2A868C;
    width: 219px;
    height: 51px;
    left: calc(50% - 219px/2);
    top: calc(50% - 51px/2 + 236.5px);
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

.form_btn {
    background-color: #2A868C;
    width: 219px;
    height: 51px;
    left: calc(50% - 219px/2);
    top: calc(50% - 51px/2 + 236.5px);
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
}

.bottom_card {
    background-color: white;
    width: 105%;
    height: 304px;
    padding-top: 24px;
    padding-left: 22px;
    padding-right: 19px;
    margin-bottom: 0px;
    position: relative;
    margin-top: 15%;
    overflow: hidden;
}

.no_record {
    position: absolute;
    width: 88.8%;
    height: 195px;
    top: 75px;
    background: #F6F6F6;
    color: #A4A1A1;
    line-height: 195px;
    font-size: 30px;
    letter-spacing: 0.05em;
}

/* home page bottom cards */
.swiper-container {
    width: 150px;    
    height: 186px;
}  

.card_title {
    background-color: #FEF8EA; 
    border-radius: 10px 10px 0px 0px; 
    padding: 8px 14px; 
    height: 30px;
    text-align: center;
}

.card_header {
    font-size: 13px;
    color: #484848;
    line-height: 15px; 
    margin: 0px;
}

.card_body {
    position: relative;
    background-color: #FCE5AA; 
    border-radius: 0px 0px 10px 10px; 
    padding: 10px 14px 15px; 
    height: 170px;
}

.card_content_title {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 7px;
}

.card_content {
    font-size: 12px;
    font-weight: lighter;
    padding-top: 7px;
    line-height: 13px;
    color: #484848; 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.card_btn {
    position: absolute; 
    bottom: 15px; 
    left: 40%; 
    font-size: 13px; 
    line-height: 15px; 
    margin: 0px;
}

.record_cards {
    margin: 40px 8%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.cards {
    width: 48%;
    margin-top: 20px;
}

.records_more_btn {
    position: absolute;
    bottom: 0px;
    margin-left: 30%;
    font-size: 13px;
}

.guide_div {
    background-color: #FEF8EA;
    background-image: url("/guid_text_background.png");
    background-repeat: no-repeat;
    background-size: 218.71px auto;

    margin: 35px 18px;
    border-radius: 10px;
}

.bless_div {
    padding: 40px 30px;
    background-color: #F6F6F6;
}

.question_div {
    margin: 0px 30px 35px;
}

.answer_btn {
    width: 100%;
    height: 41px;
    background-color: #FFFFFF;
    border: 1px solid #2A868C;
    box-sizing: border-box;
    border-radius: 10px;

    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #2A868C;
}

.checked {
    background-color: #2A868C;
    color: #FFFFFF;
}

textarea {
    line-height: 29px;
    height: 195px;
}

hr {
    border: 1px solid #AACFD1;
    width: 100%;
}

.finally {
    color: #2A868C;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.02em;
    padding-left: 30px;
    padding-top: 30px;
}

/* form complete page */
@keyframes confetti-slow {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
}
@keyframes confetti-medium {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
}
@keyframes confetti-fast {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
}
.container {
    width: 100vw;
    height: 100vh;
    background: #fff;
    border: 1px solid white;
    display: fixed;
    top: 0px;
}
.confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
}
.confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
}
/* Checkmark */
.checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}
.checkmark-circle .check_background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #00c09d;
    position: absolute;
}
.checkmark-circle .checkmark {
    border-radius: 5px;
}
.checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: '';
    left: 35px;
    top: 80px;
    position: absolute; 
}
@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
   }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
   }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
}
@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
   }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
   }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
   }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
   }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
}

.back {
    color: #484848;
}