<body>
    <div class="container-fluid">
        <!-- Form Question & Title -->
        <div class="form-top">
            <div style="width: 88vw;">
                <h2 class="form-qnumber font">第一題</h2>
                <div class="form-progress-line-frame">
                    <hr class="form-progress-line-progress" style="width: 10vw;">
                    <hr class="form-progress-line-leave" style="width: 36px;">
                </div>
            </div>

            <div class="form-q-d">
                <h2 class="form-qtitle font">你/妳今天總共花多少時間在 IG 上？</h2>
                <!-- info alert -->
                <div id="info-default" class="info-alert">
                    <div class="info-content info-default">
                        <div style="display: flex; flex-direction: row; align-items: flex-start; gap: 12px;">
                            <img src="/information-icon.png" width="25px">
                            <p class="font content">如何查看 IG 使用時間？</p>
                        </div>
                        <img src="/arrow-down.png" width="25px">
                    </div>
                </div>
                <div id="info-extend" class="info-alert" style="display: none;">
                    <div class="info-content info-extend">
                        <img src="/information-icon.png" width="25px">
                        <div class="font content">
                            查看 IG 使用時間的方法：<br>
                            <ul style="margin: 0px;">
                                <li><b>iPhone 使用者請點選：</b><br>手機系統「設定」→ 螢幕使用時間 → 看所有活動 → 選擇今天並查看 IG 使用時間</li>
                                <li><b>Android 使用者請點選：</b><br>手機系統「設定」→ 數位健康與家長監護 → 資訊主頁 → 選擇今天並查看 IG 使用時間</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Selections -->
        <form role="form" id="form_answers" method="POST" action="/form_2/<%= account %>">
            <div class="form-content">
                <div class="q1-div">
                    <h1><input class="ans-text" name="1_hour" type="number" value="<%= q1_hours %>" autofocus></h1>
                    <h3 class="font">&nbsp;小時</h3>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <h1><input class="ans-text" name="1_min" type="number" value="<%= q1_mins %>"></h1>
                    <h3 class="font">&nbsp;分鐘</h3>
                </div>
            </div>

            <div class="form-footer">
                <input class="fill_time" name="fill_time" type="hidden" value="">
                <input class="q1_ans" name="1" type="hidden" value="0">
                <input id="to_homepage" class="btn-second font" type="button" value="回首頁">
                <input class="btn font" type="submit" value="下一題">
            </div>
        </form>
    </div>

    <script>
        // hide or show the information alert div
        $("#info-default").click(function() {
            $("#info-default").hide();
            $("#info-extend").show();
        });
        $("#info-extend").click(function() {
            $("#info-extend").hide();
            $("#info-default").show();
        });

        // to home page btn alert
        $("#to_homepage").click(function() {
            if(confirm("你/妳填寫的紀錄尚未送出，確定要放棄目前填寫的進度回到首頁嗎？")) {
                location.href="/index/<%= account %>";
            }
        });

        // get the start time (計算填寫時間)
        var time_start = new Date();  
        var clock_start = time_start.getTime();  

        // 計算填寫時間
        function get_time_spent (){   
            var time_now = new Date();  
            return((time_now.getTime() - clock_start)/1000);   
        }

        $('#form_answers').submit(function() {
            var hours = parseInt($("input[name=1_hour]").val());
            var mins = parseInt($("input[name=1_min]").val());

            if (hours == 0 && mins == 0) {
                alert("請填寫您的 IG 使用時間！");
                return false;
            } else if (hours >= 0 && mins >= 0 && hours <= 24 && mins <= 60) {
                var q1_ans = hours*60 + mins;
                $(".q1_ans").val(q1_ans);
            } else {
                alert("請輸入大於零的整數，且輸入的小時數與分鐘數必須為合理數值！");
                return false;
            }

            // 加入表單填寫時間
            $(".fill_time").val(get_time_spent());
            
            return true;
        });
    </script>
</body>