<body class="meditation_body">
    <div class="container-fluid">
        <div class="col-12 up-container" align="center">
            <h2 class="font start_msg" style="padding-top: 20vh;">
                請找一個安靜的地方<br><br>
                閉上眼睛，穩定呼吸，<br>
                想一想今天在 IG 上發生的事</h2>
        </div>
        
        <div class="col-12 font meditation-bottom-card" align="center">
            <input class="btn big-btn-string font" type="button" value="開始冥想">
            <h3 class="font" style="margin-top: 13px;">請開啟聲音以幫助冥想</h3>
        </div>
    </div>

    <script>
        $(".btn").click(function() {
            $(this).next().hide();
            $(this).replaceWith("<h2 class='font'>閉上眼睛 ...<br>保持穩定呼吸 ...</h2>")
            // replace text with count down clock
            const clock = `<div class="count-down">
                                <span class="spanA">
                                    <em></em>
                                </span>
                                <span class="spanB">
                                    <em></em>
                                </span>
                            
                                <div class="inside_text">
                                    <div class="font number">20</div><br>
                                    <div class="font text">SECONDS</div>
                                </div>
                            </div> `;
            $(".start_msg").replaceWith(clock);
            playAudio();
        });

        function playAudio() {
            const audio = document.createElement("audio");
            audio.src = "/meditation_music.mp3";
            audio.play();
        }

        // change sec text
        setInterval(setTime, 1000);
        function setTime() {
            var currentSec = $(".number").html();
            currentSec--
            $(".number").html(currentSec);
            // hide the count down clock after 20 secs
            if(currentSec == 0) {
                // hide count down clock
                $(".count-down").hide();
                // display finish img
                $(".up-container").html("<img src='/finish_mediation.png' width='279px'>");
                // replace bottom card as btn
                $(".meditation-bottom-card").html('<a href="/form/<%= account %>"><input class="btn big-btn-string font" type="button" value="前往紀錄"></a>');
            }
        }
    </script>
</body>