<body class="home_body">
    <div class="container-fluid">
        <div class="home-div">
            <h3 class="font" style="margin-top: 32px;"><span class="current_date"><%= date %></span> 的記錄狀況</h3>
            <select class="emofeel-select monitor-date-select" name="dates" style="width: 88vw;">
                <option value="2023-06-16">2023-06-16 (D1)</option>
                <option value="2023-06-17">2023-06-17 (D2)</option>
                <option value="2023-06-18">2023-06-18 (D3)</option>
                <option value="2023-06-19">2023-06-19 (D4)</option>
                <option value="2023-06-20">2023-06-20 (D5)</option>
                <option value="2023-06-21">2023-06-21 (D6)</option>
                <option value="2023-06-22">2023-06-22 (D7)</option>
                <option value="2023-06-23">2023-06-23 (D8)</option>
                <option value="2023-06-24">2023-06-24 (D9)</option>
                <option value="2023-06-25">2023-06-25 (D10)</option>
                <option value="2023-06-26">2023-06-26 (D11)</option>
                <option value="2023-06-27">2023-06-27 (D12)</option>
                <option value="2023-06-28">2023-06-28 (D13)</option>
                <option value="2023-06-29">2023-06-29 (D14)</option>
                <option value="2023-06-30">2023-06-30 (D15)</option>
                <option value="2023-07-01">2023-07-01 (D16)</option>
                <option value="2023-07-02">2023-07-02 (D17)</option>
            </select>
            <div class="table_content">
                <%= table_html %>
            </div>
        </div>
    </div>

    <script>
        $(".monitor-date-select").on("change", function(){
            var selected_date = $(this).val();
            var lines_content = "";

            // get value from ruby
            $.ajax({
                type: 'POST',
                url: '/monitor-records-page',
                data: { 
                    selected_date: selected_date
                },
                success: function(response) {
                    if (response != "{}") {
                        response_arr = JSON.parse(response)
                        lines_content = response_arr["table_html"];
                    }

                    // update the contents
                    $(".current_date").html(selected_date);
                    $(".monitor-date-select").val(selected_date);
                    $(".table_content").html(lines_content);
                },
                error: function(xhr, status, error) {
                }
            });
        });

        $(document).ready(function() {
            $(".monitor-date-select").val("<%= date %>");
        });
    </script>
</body>